
.main-content {
    margin-left: 270px;
    padding: 20px;
    min-height: 100vh;
    margin-top: 10px;
}

.main-content section {
    margin: 15px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.page-title{
    margin-top:60px;
    padding:15px 4px;
    
}

.page-title-w-button{
   display:flex;
   justify-content:space-between;
}


.page-title h1{
    font-size:24px;
    padding:0;
    margin:0;
    font-weight: 600;
}